

h1,h2,h3,h4,h5,h6 { @include hFont;  margin:0 0 0.7em; line-height: 1em; color:$hColor;}
h1 {font-size:40px; margin:0 0 0.6em; color:$primary;

	&.smaller-header {font-size: 20px;}

}
h2 {font-size:34px; }
h3 {font-size:26px; text-transform: none;}
h4 {font-size:18px; }
h5 {font-size:18px; @include pFont; color:#000; font-weight: bold;}
h6 {font-size:14px;}
p, li {font-size: 16px; @include pFont; line-height: 20px;}
p {margin:0 0 0.8em; 

	&.small, .small {font-size: 14px; margin-bottom: 5px; line-height: 16px; display: block;}

	&.smaller, .smaller {font-size: 12px; margin-bottom: 5px; line-height: 14px; display: block;}

}

.mat-dialog-title {@include hFont;}
.mat-dialog-content {@include pFont;}


a {color:$aColor; text-decoration: none;

}

ol,ul {padding-left:20px; margin:0 0 1em;}






