<section class="page-wrap">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        
          <mat-card>
            <h2>Welcome to this sample PWA app!</h2>
            <p>This is a tech demo to show off what a PWA can do. If you're the latest version of Chrome,Firefox or Microsoft Edge you're in luck because they have support for PWAs. The demo is best to check out on your phone, unfortunately at this time PWAs are still a work in progress on iOS so we only have Android support.</p>
            <h4>Here's a rundown of some of the features of PWAs</h4>
            <ul>
              <li>Better UI experience (more app like)</li>
              <li>Faster, because of offline caching</li>
              <li>Homescreen icon installation support (similar to apps)</li>
              <li>Offline Support</li>
              <li>Push Notification</li>
              <li>Many app like functionality in the works.</li>
            </ul>
            <h4>Technology that built this prototype</h4>
            <ul>
              <li>Angular 5</li>
              <li>Angular Material Design</li>
            </ul>
            <div class="btn-wrap">
                <a routerLink="/posts" mat-raised-button color="primary">View latest blog posts!</a>
            </div>
          </mat-card>
      </div>
    </div>
  </div>
</section>