<section class="page-wrap">
  <div class="container">

    <div class="row" *ngIf="(posts$ | async); let posts; else loading">
      <div class="col-md-6" *ngFor="let post of posts">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{ post.title.rendered }}</mat-card-title>
            <mat-card-subtitle>Authors Name</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://placeimg.com/800/400/any" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              heirloom organic readymade pork belly 8-bit scenester occupy iPhone Tumblr lomo fingerstache you probably haven't heard of them hella post-ironic 3 wolf moon Truffaut chia squid Godard chambray Intelligentsia PBR&B 90's American Apparel plaid VHS cred Austin.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <a [routerLink]="['/posts', post.id]" mat-button >READ MORE</a>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <ng-template #loading>
      <div class="row">
        <div class="col-sm-12">
          <mat-spinner class="loader-centered"></mat-spinner>          
        </div>
      </div>
    </ng-template>
  </div>
</section>